@model IEnumerable<global::PetShop.Models.Pedidos>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar um Pedido</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Serviço</th>
            <th>Animal</th>
            <th>Empregado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Servicos?.tipoServico
                </td>
                <td>
                    @item.Animais?.nomeAnimal
                </td>
                <td>
                    @item.Empregados?.NomeEmpregado
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
